SUPABASE_URL=https://lhbgqiemzwqzvpwcgnkr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYmdxaWVtendxenZwd2NnbmtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY3NTg2MywiZXhwIjoyMTAwMjUxODYzfQ.6o7Gvq8bx3Wj87pvsJOvpXPlSkH1OnLnai-SnPemIuI