SUPABASE_URL=https://lhbgqiemzwqzvpwcgnkr.supabase.com
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYmdxaWVtendxenZwd2NnbmtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzU4NjMsImV4cCI6MjEwMDI1MTg2M30.oxJM1s4iVjkXhYk9hQUBXGSjng03mj-Vqo2aw0XK3qs